.card-img{
    width: 20%;
}

.card-img img{
    width: 100%;
    max-width: 140px;
}

.card-content{
    display: inline-block;
}

span{
    color:tomato
}

@media (max-width: 320px){
    .card-img{
        width: 100%;
    }
}

@media (max-width: 425px){
    .card-img{
        width: 30%;
    }
}
@media (max-width: 320px){
    .card-img{
        width: 100%;
    }
}