<a routerLink="/login" class="text-white">
    <i class="fa fa-arrow-left"></i>
    Back
</a>
<div class="contenedor animate__animated animate__fadeInLeftBig">
    <img src="assets/images/undraw_sign_in_e6hj.svg" class="img-fluid">
        <h3 class="text-center mt-3">SignIn</h3>
        <hr>
        <form autocomplete="off" [formGroup]="forma">
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="email" formControlName="nombre">
                </mat-form-field>
            </div>
        </form>
</div>