
<!-- Carga en tal caso de que no se obtenga ninguna pelicula -->
<div class="row mt-4" *ngIf="!movies">
    <div class="col text-center text-white">
        <i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i>
    </div>
</div>

<!-- Sección del catalogo, se muestra solo si hay peliculas -->
<div class="row" *ngIf="movies">

    <!-- Siclo para mostrar cada card -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 animate__animated animate__fadeIn " 
         *ngFor="let pelicula of movies">

         <!-- Comienzo del card -->
        <div class="card bg-dark" (click)='verPelicula( pelicula.id)'>
            <!-- Imagen de la pelicula con su pipe que se utilizara como un filtro en tal caso de que la pelicula no tenga una imagen -->
            <img [src]="pelicula.poster_path|imgFill:'500'"
                    class="card-img-top"
                    alt="img of {{pelicula.title}}">
            <!-- Cuerpo de la card -->
            <div class="card-body">
                <!-- Titulo de la pelicula -->
                <h4 class="card-title text-center text-white"> {{ pelicula.title}} </h4>
                <!-- El rating de cada pelicula -->
                <div class="row">
                    <div class="col p-0">
                        <div class="votos">
                            {{pelicula.vote_average |number:'1.1'}}
                        </div>
                    </div>
                    <div class="col-9 text-center">
                        <star-rating [value]="pelicula.vote_average" 
                                        totalstars="10"
                                        checkedcolor="red"
                                        uncheckedcolor="grey"
                                        size="13px"></star-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>